<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Encryption Standard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h2>Enkripsi DES</h2>
    <form method="POST">
      <label>Plaintext:</label>
      <textarea
        name="plaintext"
        required
        placeholder="Masukkan plaintext di sini"
        rows="7"
      ></textarea>

      <label>Kunci (8 karakter):</label>
      <input
        type="text"
        name="key"
        maxlength="8"
        required
        placeholder="Contoh: rahasia1"
      />

      <button type="submit" style="cursor: pointer">Enkripsi</button>
    </form>

    {% if result %}
    <div class="result">
      <strong>Hasil Enkripsi (hex):</strong><br />
      {{ result }}
    </div>
    {% endif %} {% if error %}
    <div class="error"><strong>Error:</strong> {{ error }}</div>
    {% endif %}

    <footer>
      <p style="margin: 0">
        <a
          href="https://github.com/gbennnn/data-encryption-standard"
          target="_blank"
          >GitHub Repository</a
        >
      </p>
    </footer>
  </body>
</html>
